
node_modules/
mamp-project/

cartella_eclipse/*.gitignore

cartella_eclipse/.metadata
cartella_eclipse/*/*.settings
cartella_eclipse/*/bin/*

*.class
*.project
.classpath
.settings/

bin/
target/

*.log

