<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Insert title here</title>
	</head>
	<body>
	
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Codice Fiscale</th>
			</tr>
			<tr th:each="utente : ${utenti}">
				<td th:text="${utente.id}" />
				<td th:text="${utente.cf}" />
				<td th:text="${utente.nome}" />
				<td th:text="${utente.cognome}" />
			</tr>
		</table>
	
		<p>
			Tonra alla <a href="/home">Home</a>
		</p>
	</body>
</html>