<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<nav class="navbar bg-dark navbar-expand-lg border-bottom border-body"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Aeroplanni</a>
			<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/readAllPrenotazioniVoli">Tabella Prenotazioni</a></li>
					<li class="nav-item dropdown"><a class="nav-link"
						href="readAllAccountAzinedali">Tabella Account</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<form action="/saveAccount" method="post">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Codice
				Fiscle</label> <input type="email" class="form-control">
		</div>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Nome</label> <input
				type="text" class="form-control">
		</div>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Cognome</label> <input
				type="text" class="form-control">

		</div>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Data di
				Nascita</label> <input type="date" class="form-control">

		</div>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Email </label> <input
				type="date" class="form-control">

		</div>
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Password </label>
			<input type="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</body>
</html>